<div class="col-lg-6">

<h1> <%= "#{@user.name}'s stories" %> | score: <%= @user.stories.count + @comments.count %> </h1>
<hr>

<% @story.each do |s| %>
  <h3><%= link_to s.title, story_path(s.id) %></h3>
  <h4><%= s.content.split(/[\r\n]+/)[0] %></h4>
  <hr>
<% end %>
<% if logged_in? %>
<% if current_user.name == 'admin' %>
<ol>
  <% @users.each do |u| %>
  <li> <%= u.name %> | <%= u.email %> | <%= u.stories.count %></li>
  <% end %>
<% end %>
<% end %>
</ol>

</div>
<div class="col-lg-6">

<h1> <%= "#{@user.name}'s comments" %> </h1>
<hr>

<% @comments.each do |c| %>
  <h5><%= link_to c.body, story_path(c.story_id) %>
    <br>
    <br>
     posted on
     <br>
     <br>
      <%= link_to Story.find(c.story_id).title, story_path(c.story_id) %></h5>
  <hr>
<% end %>
</ol>

</div>
