<h1> <%= "#{@user.name}'s stories" %> | score: <%= @user.stories.count %> </h1>

<% @story.each do |s| %>
  <h3><%= link_to s.title, story_path(s.id) %></h3>
  <h4><%= s.content.split(/[\r\n]+/)[0] %></h4>
  <hr>
<% end %>
<% if logged_in? %>
<% if current_user.name == 'admin' %>
<ol>
  <% @users.each do |u| %>
  <li> <%= u.name %> | <%= u.email %> | <%= u.stories.count %></li>
  <% end %>
<% end %>
<% end %>
</ol>
