<br>
<div class="jumbotron background">
  <h1 class='custom_h1' style="
    border: solid white 10px;
    text-align: center;
    padding: 95px;">
<%= @story_start[0] %><br>
<i class='smaller_text'><%= @story_start[1] %></i>
    <%#= @story_starts[0 + rand(@story_starts.count)] %> </h1>
  <p></p>
  <p></p>
</div>
<div class="col-md-6">

<kbd class="big-text">popular stories</kbd>
<br>
<% 5.times do |i| %>
<h3><%= link_to @stories[i].title, story_path(@stories[i].id) %></h3>
<h4><%= @stories[i].content.split(/[\r\n]+/)[0] %></h4>
<hr>
<% end %>
</div>
<!-- Start Testing section -->

<!-- End testing section -->

<div class="col-md-6">

<kbd class="big-text">new stories</kbd>

<% 5.times do |i| %>
<h3><%= link_to @reversed_h[i].title, story_path(@reversed_h[i].id) %></h3>
<h4><%= @reversed_h[i].content.split(/[\r\n]+/)[0] %></h4>
<hr>
<% end %>
</div>
