<br>
<div class="jumbotron background">
  <h1 class='custom_h1' style="
    border: solid white 10px;
    text-align: center;
    padding: 95px;">
<%= @story_start[0] %><br>
<i class='smaller_text'><%= @story_start[1] %>
<br>
<br>
<% if logged_in? %>
<button type="button" id="start-story-btn" class="btn kbd md-text"><%= link_to "start a story", new_story_path %></button>
<% end %>
</i>
</h1>

</div>

<div class="col-md-6">

<kbd class="big-text">popular stories</kbd>
<br>
<% if @stories.count < 5 %>
  <% @stories.each do |s| %>
  <h3><%= link_to s.title, story_path(s.id) %></h3>
  <h4><%= s.content.split(/[\r\n]+/)[0] %></h4>
  <p>comments: <%= s.comments.count %></p>
  <hr>
  <% end %>
<% else %>
<% 5.times do |i| %>
<h3><%= link_to @stories[i].title, story_path(@stories[i].id) %></h3>
<h4><%= @stories[i].content.split(/[\r\n]+/)[0] %></h4>
<p>comments: <%= @stories[i].comments.count %></p>
<hr>
<% end %>
<% end %>
</div>
<!-- Start Testing section -->

<!-- End testing section -->

<div class="col-md-6">

<kbd class="big-text">new stories</kbd>
<% if @stories.count < 5 %>
  <% @reversed_h.each do |s| %>
  <h3><%= link_to s.title, story_path(s.id) %></h3>
  <h4><%= s.content.split(/[\r\n]+/)[0] %></h4>
  <p> <%= s.created_at.strftime("%b %d %Y") %></p>
  <hr>
  <% end %>

<% else %>

<% 5.times do |i| %>
  <h3><%= link_to @reversed_h[i].title, story_path(@reversed_h[i].id) %></h3>
  <h4><%= @reversed_h[i].content.split(/[\r\n]+/)[0] %></h4>
  <p> <%= @reversed_h[i].created_at.strftime("%b %d %Y") %></p>
  <hr>
  <% end %>

<% end %>
</div>
