<br>
<div class="jumbotron background">
  <h1 class='custom_h1' style="
    border: solid white 10px;
    text-align: center;
    padding: 95px;">
<%= @story_start[0] %><br>
<i class='smaller_text'><%= @story_start[1] %></i>
    <%#= @story_starts[0 + rand(@story_starts.count)] %> </h1>
  <p></p>
  <p></p>
</div>
<div class="col-md-6">

<kbd class="big-text">popular stories</kbd>

<% @stories.each do |s| %>
<h3><%= link_to s.title, story_path(s.id) %></h3>
<h4><%= s.content.split(/[\r\n]+/)[0] %></h4>
<hr>
<% end %>
</div>

<div class="col-md-6">

<kbd class="big-text">new stories</kbd>

<% @stories.each do |s| %>
<h3><%= link_to s.title, story_path(s.id) %></h3>
<h4><%= s.content.split(/[\r\n]+/)[0] %></h4>
<hr>
<% end %>
</div>
