<h1><%= @story.title %></h1>


<% @split_story.each do |para| %>
  <p>
    <%= para %>
  </p>
<% end %>
<hr>
<% if logged_in? %>
    <h3>Add to the story!</h3>
    <br>
    <%= form_for @story do |f| %>
    <%= f.text_area :content, :class => 'form-size-medium', value: "", placeholder: "Add to the Story!" %>
    <br>
    <%= f.submit %>
  <% end %>
<% end %>

<% if not logged_in? %>
  <h3>Log in to add to this story</h3>
<% end %>
