<div class="col-md-9 right-border">

<h1><%= @story.title %></h1>
<p>
   started by
   <%= link_to @user.find(@story.user_id).name, user_path(@story.user_id) %> | score: <%= @user.find(@story.user_id).stories.count %> 
</p>


<% @story.content.split(/[\r\n]+/).each do |s| %>
  <p>
    <%= s %>
  </p>
  <% end %>
  <!-- Test Section -->

<!-- End Test section -->
<hr>
<% if logged_in? %>
  <h3>add to the story!</h3>
  <h4>if you don't like the direction its going, <kbd class="text-white"><%= link_to "fork it!", "#{stories_new_fork_path}?id=#{@story.id}" %></kbd></h4>
  <br>
  <%= form_for @story do |f| %>
    <%= f.text_area :content, :class => 'form-size-medium', value: "", placeholder: "add to the story!" %>
    <br>
    <%= f.submit "add to the story", :class => 'kbd' %>
    <% end %>
<% else %>
  <h3>log in to add to this story</h3>
<% end %>
</div>

<div class="col-md-3">

<h1>comments:</h1>
<br>
<br>
<ul>
<% @story.comments.each do |a| %>
<li><strong><%= a.responder %></strong>   |
  <%= a.body %></li>
  <br>
<% end %>
</ul>
<% if logged_in? %>
<hr>
  <h3>add a comment:</h3>
  <br>
  <%= form_for [@story, @story.comments.build] do |f| %>
  <%= f.text_area :body, :class => 'form-size-small' %>
  <br>
  <%= f.submit 'add a comment', :class => 'kbd'%>
  <% end %>
<% end %>
</div>
<div class="col-md-9">

<div class="col-md-3">


</div>
